[Unit]
Description=Wiiremote mouse/keyboard/joystick emulator

[Service]
Type=forking
PIDFile=/var/run/wiimotedev-io.pid 
BusName=org.wiimotedev.io
ExecStart=/usr/sbin/wiimotedev-io

[Install]
WantedBy=multi-user.target

