[Unit]
Description=wiiremote connection manager and dbus interface provider
After=bluetooth.target

[Service]
Type=dbus
BusName=org.wiimotedev.daemon
ExecStart=/usr/sbin/wiimotedev-daemon

[Install]
WantedBy=multi-user.target

