[Unit]
Description=Customizable input emulator for wiiremotes.
After=wiimotedev-daemon.service

[Service]
Type=dbus
BusName=org.wiimotedev.io
ExecStart=/usr/sbin/wiimotedev-io

[Install]
WantedBy=multi-user.target

